*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Caveat|Righteous&display=swap');
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px 0 150px;
    height:70px;
    color: white;
    background-color: #0f0f0f;
}
.pa p{
    text-align: justify;
    line-height: 28px;
}

.nav .logo h2:hover{
    color: #9845e8;
    cursor: pointer;
    transition: .2s ease-in;
    cursor: pointer;
}

.link{
    display: block;
}

.link ol{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

ol li{
    padding-left: 50px;
    list-style: none;
    
    
}
ol li a{
    text-decoration: none;
    color:white;
    


}

.main{
    padding: 90px 150px 0 150px;
    background-color: #050505;
    height: 90vh;

}

.main p{
    color: white;
    font-size: 23px;
}

.main h1{
    font-family: 'Righteous', cursive;
    background:url('https://media.giphy.com/media/FE0WTM8BG754I/giphy.gif')center center no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:7rem;
    letter-spacing:10px;
    background-size:cover;
    margin:0px;
    color:transparent;
  }

.buttons{
    padding-top: 50px;

}

.buttons h2{
    color: white;
    padding-bottom: 20px;
    margin-left: 10px;
}


.buttons button{
    width: 240px;
    height: 60px;
    background-color: transparent;
        border-image: linear-gradient(90deg,#6964de,#fca6e9) 1;
    color: white;
    font-size: 19px;
    margin-left: 10px;
    border-width:4px;
    text-align: center;
}

.buttons button img{
    width: 22px;
    margin-right: 10px;
     
    
}
@media screen and (max-width: 600px) and (min-width: 400px)   {
   
.link ol{
    
    display: none;
    
}

.nav .logo h2{
   font-size: 40px;
   padding-left: 18px;
}


.main{
    padding: 90px 30px 0 30px;
    background-color: #050505;
    height: 100vh;

}

.main h1{
    font-size: 45px;
}

.main p{
    color: white;
    font-size: 18px;
}

.buttons button{
    width: 340px;
    height: 60px;
    margin-top: 20px;
   
}
  }